<?php
return [
    'app_name' => 'OrganizzeLite',
    'app_url' => 'http://localhost',
    'app_key' => 'gere-uma-chave-segura-aqui',
    'db' => [
        'host' => 'localhost',
        'name' => 'organizze_lite',
        'user' => 'root',
        'pass' => '',
        'charset' => 'utf8mb4',
    ],
];
